<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Display</title>
</head>
<body>
    <div class="container">
    {% if user %}
        <p>User Password: {{ user.password }}</p>
        <p>Warning: Your custom warning message goes here</p>
        <p>click <a href="{{ url_for('signin') }}"> here</a> to go back</p>
    {% else %}
        <p>No user found or incorrect credentials.</p>
        <p>click <a href="{{url_for('signup')}}"> here</a> to signup</p>
    {% endif %}
</div>
</body>
<style>
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
}
.container {
    border: 1px solid #2522229d;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(29, 28, 28, 0.274);
    background-color: #28242453;
    transition: .5s;
    width: 50vh;
    
    align-self: center;
    text-align: justify;
}
.container h1{
    text-align: center;
}
</style>
</html>
